Repository mmehdinasiri/react-calendar-datetime-picker: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

docs: organize documentation files into docs-dev folder
  .github/workflows/npm-publish.yml
  README.md
  docs-dev/ARCHITECTURE.md
  docs-dev/DEPLOYMENT.md
  docs-dev/DEVELOPMENT.md
  docs-dev/MONOREPO.md
  docs-dev/README.md
  docs-dev/SETUP_COMPLETE.md
  docs-dev/VERSIONING.md
Due: none

docs: update all documentation files with correct structure and pnpm references
  docs-dev/ARCHITECTURE.md
  docs-dev/DEPLOYMENT.md
  docs-dev/DEVELOPMENT.md
  docs-dev/MONOREPO.md
  docs-dev/SETUP_COMPLETE.md
  docs-dev/VERSIONING.md
Due: none

docs: add links to all documentation files in main README
  README.md
Due: none

feat: implement Phase 1 - core utility functions
  docs-dev/STATE_MANAGEMENT_RECOMMENDATIONS.md
  docs-dev/UTILITY_IMPROVEMENTS.md
  src/index.ts
  src/utils/date-conversion.ts
  src/utils/formatting.ts
  src/utils/index.ts
  src/utils/normalize.ts
  src/utils/validation.ts
Due: npm run lint:fix-ts, npm run prettier

chore: update configuration files
  examples/package.json
  examples/tsconfig.json
  package.json
  src/Components/DtPicker.tsx
Due: none

feat: implement CalendarCore, state management, and DtCalendar
  src/Components/CalendarCore.tsx
  src/Components/CalendarGridView.tsx
  src/Components/DtCalendar.tsx
  src/Components/MonthView.tsx
  src/Components/YearView.tsx
  src/Components/index.ts
  src/hooks/index.ts
  src/hooks/useCalendarState.ts
  src/types/calendar.ts
  src/types/index.ts
  src/utils/calendar-grid.ts
  src/utils/calendar-selection.ts
  src/utils/index.ts
  src/utils/validation.ts
Due: npm run lint:fix-ts, npm run prettier

fix: replace deprecated Sass @import with @use and add Farsi font support
  src/styles/index.scss
Due: npm run prettier, npm run lint:fix-styles

Refactor styles: separate into component files and update to green theme
  src/Components/CalendarGridView.tsx
  src/Components/MonthView.tsx
  src/Components/YearView.tsx
  src/styles/components/_calendar-core.scss
  src/styles/components/_calendar-grid.scss
  src/styles/components/_header.scss
  src/styles/components/_month-view.scss
  src/styles/components/_year-view.scss
  src/styles/index.scss
  src/styles/variables.scss
Due: npm run prettier, npm run lint:fix-styles

Improve calendar header and year view functionality
  src/Components/CalendarGridView.tsx
  src/Components/MonthView.tsx
  src/Components/YearView.tsx
  src/styles/components/_header.scss
  src/utils/calendar-grid.ts
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

Add explicit CSS import in example project
  examples/src/App.tsx
  examples/vite.config.ts
Due: none

Fix CSS import resolution in example project using Vite aliases
  examples/vite.config.ts
  src/Components/DtCalendar.tsx
  src/hooks/useCalendarState.ts
  src/utils/calendar-grid.ts
Due: npm run lint:fix-ts, npm run prettier

Add fade effects to year view and unify selected styling
  src/Components/YearView.tsx
  src/styles/components/_calendar-grid.scss
  src/styles/components/_month-view.scss
  src/styles/components/_year-view.scss
Due: npm run prettier, npm run lint:fix-styles

Refactor validation props and improve type safety
  src/Components/DtCalendar.tsx
  src/Components/DtPicker.tsx
  src/Components/YearView.tsx
  src/hooks/useCalendarState.ts
  src/types/calendar.ts
  src/types/index.ts
  src/utils/normalize.ts
Due: npm run lint:fix-ts, npm run prettier

Fix other-month days styling: border-radius only on first/last days, hide full other-month rows
  examples/src/App.css
  examples/src/App.tsx
  src/Components/CalendarCore.tsx
  src/Components/CalendarGridView.tsx
  src/Components/DtCalendar.tsx
  src/Components/DtPicker.tsx
  src/index.ts
  src/styles/components/_calendar-grid.scss
  src/styles/variables.scss
  src/types/calendar.ts
  src/types/index.ts
  src/utils/normalize.ts
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

Fix other-month days styling: border-radius only on first/last days, hide full other-month rows
  examples/src/App.css
Due: none

feat: Add Jalali calendar support with Persian numerals
  examples/src/App.tsx
  examples/tsconfig.json
  src/Components/CalendarGridView.tsx
  src/Components/MonthView.tsx
  src/Components/YearView.tsx
  src/index.ts
  src/utils/calendar-grid.ts
  src/utils/calendar-selection.ts
  src/utils/date-conversion.ts
  src/utils/formatting.ts
  src/utils/index.ts
Due: npm run lint:fix-ts, npm run prettier

style: Format CalendarGridView component
  examples/src/App.tsx
Due: none

refactor: improve calendar components and examples
  examples/src/App.css
  examples/src/App.tsx
  examples/src/examplesConfig.tsx
  src/Components/CalendarCore.tsx
  src/Components/CalendarGridView.tsx
  src/Components/CalendarHeader.tsx
  src/Components/DtCalendar.tsx
  src/Components/MonthView.tsx
  src/Components/YearView.tsx
  src/Components/index.ts
  src/hooks/useCalendarState.ts
  src/styles/components/_calendar-grid.scss
  src/styles/components/_footer.scss
  src/styles/components/_header.scss
  src/styles/index.scss
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

fix: improve range selection styling and behavior
  examples/src/examplesConfig.tsx
  src/Components/CalendarGridView.tsx
  src/hooks/useCalendarState.ts
  src/styles/components/_calendar-grid.scss
  src/styles/variables.scss
  src/utils/calendar-grid.ts
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

feat: add dark theme support and fix styling issues
  examples/src/App.css
  examples/src/examplesConfig.tsx
  src/Components/DtCalendar.tsx
  src/styles/components/_header.scss
  src/styles/components/_year-view.scss
  src/styles/variables.scss
Due: npm run prettier, npm run lint:fix-styles

feat: add time selector feature with 12/24 hour format support
  examples/src/examplesConfig.tsx
  src/Components/CalendarCore.tsx
  src/Components/CalendarGridView.tsx
  src/Components/DtCalendar.tsx
  src/Components/TimeSelector.tsx
  src/Components/index.ts
  src/hooks/useCalendarState.ts
  src/styles/components/_footer.scss
  src/styles/components/_time-selector.scss
  src/styles/index.scss
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

feat: enhance examples with props, result value, and CSS variables display
  examples/src/App.css
  examples/src/App.tsx
Due: none

feat: add editable props and fix initValue display in examples
  examples/src/App.css
  examples/src/App.tsx
Due: none

feat: implement DtPicker component with modal calendar
  examples/src/App.css
  examples/src/examplesConfig.tsx
  src/styles/components/_picker.scss
  src/styles/index.scss
Due: npm run prettier, npm run lint:fix-styles

refactor: extract DtPicker logic into custom hooks
  src/Components/DtCalendar.tsx
  src/Components/DtPicker.tsx
  src/hooks/index.ts
  src/hooks/useCalendarPicker.ts
  src/hooks/useClickOutside.ts
  src/hooks/useEscapeKey.ts
  src/hooks/useModalPosition.ts
  src/utils/constraints.ts
  src/utils/index.ts
Due: npm run lint:fix-ts, npm run prettier

Clarify CSS theming documentation in examples
  examples/src/App.css
  examples/src/App.tsx
  examples/src/examplesConfig.tsx
Due: none

Fix code formatting and indentation in CalendarGridView
  src/Components/CalendarGridView.tsx
  src/hooks/useCalendarState.ts
  src/styles/components/_calendar-grid.scss
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

Fix clearBtn functionality in DtPicker
  src/Components/DtPicker.tsx
Due: none

feat: Add comprehensive keyboard navigation and accessibility features
  docs-dev/ACCESSIBILITY.md
  examples/package.json
  examples/src/examplesConfig.tsx
  src/Components/CalendarGridView.tsx
  src/Components/DtPicker.tsx
  src/Components/MonthView.tsx
  src/Components/YearView.tsx
  src/hooks/index.ts
  src/hooks/useFocusManagement.ts
  src/hooks/useFocusTrap.ts
  src/hooks/useKeyboardNavigation.ts
Due: npm run lint:fix-ts, npm run prettier

feat: Add week selection type with time support
  examples/src/examplesConfig.tsx
  src/Components/CalendarCore.tsx
  src/Components/CalendarGridView.tsx
  src/Components/CalendarHeader.tsx
  src/Components/DtPicker.tsx
  src/hooks/useCalendarPicker.ts
  src/hooks/useCalendarState.ts
  src/index.ts
  src/styles/components/_calendar-grid.scss
  src/types/index.ts
  src/utils/calendar-grid.ts
  src/utils/calendar-selection.ts
  src/utils/formatting.ts
  src/utils/normalize.ts
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

feat: Add preset date range buttons for range selection
  examples/src/examplesConfig.tsx
  src/Components/CalendarCore.tsx
  src/Components/CalendarGridView.tsx
  src/Components/DtCalendar.tsx
  src/Components/DtPicker.tsx
  src/hooks/useCalendarState.ts
  src/index.ts
  src/styles/components/_footer.scss
  src/types/calendar.ts
  src/utils/preset-ranges.ts
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

Fix preset ranges time handling and add active state styling
  examples/src/examplesConfig.tsx
  src/Components/CalendarGridView.tsx
  src/hooks/useCalendarState.ts
  src/index.ts
  src/styles/components/_footer.scss
  src/types/calendar.ts
  src/utils/preset-ranges.ts
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

fix: upgrade jalaali-js from 1.2.7 to 1.2.8
  package.json
  yarn.lock
Due: none

Fix scroll issue and improve examples playground
  docs/pages/docs/utilities.tsx
  docs/pages/index.tsx
  examples/package.json
  examples/src/App.css
  examples/src/App.tsx
  examples/src/examplesConfig.tsx
  src/Components/CalendarGridView.tsx
  src/hooks/useFocusManagement.ts
  src/hooks/useFocusTrap.ts
  src/types/calendar.ts
  src/utils/constraints.ts
  src/utils/validation.ts
Due: npm run lint:fix-ts, npm run prettier

Fix boolean prop parsing: ensure todayBtn={false} correctly hides button
  examples/src/App.css
  examples/src/App.tsx
Due: none

Refactor App.tsx: split into smaller modules and simplify props editing
  examples/src/App.tsx
  examples/src/components/ExampleRenderer.tsx
  examples/src/components/PropsEditor.tsx
  examples/src/components/ResultDisplay.tsx
  examples/src/components/Tabs.tsx
  examples/src/components/ThemeDisplay.tsx
  examples/src/hooks/useExampleValue.ts
  examples/src/hooks/useParsedProps.ts
  examples/src/utils/formatting.ts
  examples/src/utils/propsFormatting.ts
  examples/src/utils/theme.ts
Due: none

Revert onChange type to simple function signature and fix formatting
  examples/src/App.tsx
  examples/src/hooks/useParsedProps.ts
  examples/src/utils/propsFormatting.ts
Due: none

🚀 Migrate docs to Next.js App Router with legacy support
  docs/app/layout.tsx
  docs/app/legacy/docs/customization/page.tsx
  docs/app/legacy/docs/examples/page.tsx
  docs/app/legacy/docs/get-started/page.tsx
  docs/app/legacy/docs/props/page.tsx
  docs/app/legacy/docs/typescript/page.tsx
  docs/app/legacy/docs/utilities/page.tsx
  docs/app/legacy/layout.tsx
  docs/app/legacy/page.tsx
  docs/app/page.tsx
  docs/legacy/Component/Icons/arrow-left.svg
  docs/legacy/Component/Icons/arrow-right.svg
  docs/legacy/Component/Layout/CenterLayout.tsx
  docs/legacy/Component/Layout/DocLayout.tsx
  docs/legacy/Component/Layout/Footer.tsx
  docs/legacy/Component/Layout/Header.tsx
  docs/legacy/Component/Layout/Layout.tsx
  docs/legacy/Component/index.ts
  docs/legacy/Constant/Apis.ts
  docs/legacy/Constant/customizationApis.ts
  docs/legacy/Constant/sampleString.ts
  docs/legacy/CustomizationPage.tsx
  docs/legacy/ExamplesPage.tsx
  docs/legacy/GetStartedPage.tsx
  docs/legacy/HomePage.tsx
  docs/legacy/PropsPage.tsx
  docs/legacy/TypeScriptPage.tsx
  docs/legacy/UtilitiesPage.tsx
  docs/next.config.js
  docs/package.json
  docs/pages/_app.js
  docs/pages/_document.tsx
  docs/pages/docs/examples.tsx
  docs/pages/index.tsx
  docs/tailwindcss-config.js
  docs/type.d.ts
Due: none

Add custom date and time formatting support
  examples/src/examplesConfig.tsx
  src/hooks/useCalendarPicker.ts
  src/utils/formatting.ts
Due: npm run lint:fix-ts, npm run prettier

Add multiple months display feature with UX improvements
  examples/src/examplesConfig.tsx
  src/Components/DtCalendar.tsx
  src/Components/DtPicker.tsx
  src/hooks/useCalendarPicker.ts
  src/hooks/useCalendarState.ts
  src/styles/components/_calendar-core.scss
  src/styles/components/_calendar-grid.scss
  src/styles/components/_picker.scss
  src/utils/calendar-grid.ts
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

Path conditions:
  npm run lint:fix-ts: any of: src/**/*.ts
  npm run prettier: (any of: src/**/*.ts) or (any of: src/**/*.scss)
  npm run lint:fix-styles: any of: src/**/*.scss
