Repository mmehdinasiri/react-calendar-datetime-picker: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

.lintstagedrc:

{
    "src/**/*.ts": [
        "npm run lint:fix-ts",
        "npm run prettier"
    ],
    "src/**/*.scss": [
        "npm run lint:fix-styles",
        "npm run prettier"
    ]
}

remove errors
  .commitlintrc
  .eslintignore
  .eslintrc
  .lintstagedrc
  src/Components/DaysView/DaysView.tsx
  src/Components/DtWrapper/DtWrapper.tsx
  src/Components/MonthsView/MonthsView.tsx
  src/Components/YearsView/YearsView.tsx
  src/store/SelectedDaysProvider.tsx
  src/store/SelectedTimeProvider.tsx
  src/utils/helpers/getterFunctions.ts
  src/utils/helpers/mergeProviders.ts
Due: npm run lint:fix-ts, npm run prettier

fix some style lint
  .eslintignore
  .stylelintignore
  .stylelintrc
  package.json
  src/assets/styles/component/daysView.scss
  src/assets/styles/component/dtWrapper.scss
  src/assets/styles/component/monthsView.scss
  src/assets/styles/component/timeView.scss
  src/assets/styles/component/todayBtn.scss
  src/assets/styles/component/yearsView.scss
  src/assets/styles/variables.scss
  yarn.lock
Due: npm run prettier, npm run lint:fix-styles

add some rule to eslint
  .eslintrc
  src/store/SelectedDaysProvider.tsx
Due: none

add IDay type to getter functions file
  src/utils/helpers/getterFunctions.ts
Due: npm run lint:fix-ts, npm run prettier

remove rem and fix vite build
  .gitignore
  example/yarn.lock
  index.html
  package.json
  src/Components/DaysView/DaysView.tsx
  src/Components/InputPicker/InputPicker.tsx
  src/assets/styles/component/calenderModal.scss
  src/assets/styles/component/daysView.scss
  src/assets/styles/component/dtWrapper.scss
  src/assets/styles/component/header.scss
  src/assets/styles/component/inputPicker.scss
  src/assets/styles/component/monthsView.scss
  src/assets/styles/component/timeView.scss
  src/assets/styles/component/todayBtn.scss
  src/assets/styles/component/yearsView.scss
  src/assets/styles/main.scss
  src/types/typings.d.ts
  vite.config.ts
  yarn.lock
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

add tarser to the vite config
  package.json
  vite.config.ts
  yarn.lock
Due: none

change vite folder name to sample and update package file
  .npmignore
  package.json
  sample/index.html
  sample/package.json
  sample/public/vite.svg
  sample/src/App.tsx
  sample/src/app.css
  sample/src/main.tsx
  sample/src/vite-env.d.ts
  sample/tsconfig.json
  sample/tsconfig.node.json
  sample/vite.config.ts
  vite.config.ts
Due: none

fix: type issue
  package.json
  src/Components/DaysView/DaysView.tsx
  src/Components/Header/Header.tsx
  src/Components/InputPicker/InputPicker.tsx
  src/Components/MonthsView/MonthsView.tsx
  src/Components/TodayBtn/TodayBtn.tsx
  src/Components/YearsView/YearsView.tsx
  src/utils/helpers/comparisonFunctions.ts
  src/utils/helpers/getterFunctions.ts
  src/utils/helpers/toPersianNumber.ts
  src/utils/hooks/useLangOption.ts
  tsconfig.json
  yarn.lock
Due: npm run lint:fix-ts, npm run prettier

chore: fix development env
  package.json
  sample/package.json
  vite.config.development.ts
Due: none

chore: add focus style and callback
  src/Components/InputPicker/InputPicker.tsx
  src/DtPicker.tsx
  src/assets/styles/component/inputPicker.scss
Due: npm run prettier, npm run lint:fix-styles

chore: update packages
  package.json
  sample/package.json
  yarn.lock
Due: none

chore: remove the jsxRuntime from build
  bundle-analysis.html
  package.json
  vite.config.ts
  yarn.lock
Due: none

chore: change vite config
  bundle-analysis.html
  package.json
  sample/src/App.tsx
  src/index.tsx
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: none

chore: fix type build
  bundle-analysis.html
  vite.config.ts
  yarn.lock
Due: none

chore: fix vite config
  vite.config.ts
Due: none

chore: update some config
  package.json
  vite.config.ts
Due: none

v1.7.0
  CHANGELOG.md
  README.md
  package.json
Due: none

chore: fix type import
  bundle-analysis.html
  package.json
Due: none

chore: remove enter from trigger list
  src/Components/InputPicker/InputPicker.tsx
Due: none

fix: build issue
  src/utils/helpers/mergeProviders.ts
Due: npm run lint:fix-ts, npm run prettier

Fix build type issue (#21)
  bundle-analysis.html
  package.json
  src/Components/InputPicker/InputPicker.tsx
  src/utils/helpers/mergeProviders.ts
Due: npm run lint:fix-ts, npm run prettier

v1.7.1
  CHANGELOG.md
  README.md
  package.json
Due: none

chore: update doc link
  .gitignore
  index.html
  pnpm-lock.yaml
Due: none

fix: readme
  README.md
  src/assets/images/android-chrome-96x96.png
  src/assets/images/react-datetime-picker-jalali.png
  src/assets/images/react-datetime-picker.png
Due: none

chore: update readme
  README.md
Due: none

v1.7.2
  CHANGELOG.md
  README.md
  package.json
  yarn.lock
Due: none

fix: dev env
  .gitignore
  bundle-analysis.html
  package.json
  vite.config.development.ts
  yarn.lock
Due: none

fix: dev env (#22)
  .gitignore
  bundle-analysis.html
  package.json
  vite.config.development.ts
  yarn.lock
Due: none

v1.7.3
  CHANGELOG.md
  README.md
  package.json
Due: none

v1.7.4
  CHANGELOG.md
  README.md
  package.json
Due: none

fix: upgrade jalaali-js from 1.2.6 to 1.2.7
  package.json
  yarn.lock
Due: none

chore: support react 19
  .eslintrc
  CHANGELOG.md
  README.md
  package.json
  sample/package.json
  sample/src/App.tsx
  sample/styles.css
  src/Components/Header/Header.tsx
  src/Components/InputPicker/InputPicker.tsx
  src/Components/TimeView/TimeView.tsx
  src/DtCalendar.tsx
  src/DtPicker.tsx
  src/assets/icons/Back.tsx
  src/assets/icons/ChevronDown.tsx
  src/assets/icons/ChevronUp.tsx
  src/assets/icons/Close.tsx
  src/assets/icons/Next.tsx
  src/assets/icons/back.svg
  src/assets/icons/chevron-down.svg
  src/assets/icons/chevron-up.svg
  src/assets/icons/close.svg
  src/assets/icons/index.ts
  src/assets/icons/next.svg
  src/assets/styles/component/calenderModal.scss
  src/assets/styles/component/daysView.scss
  src/assets/styles/component/header.scss
  src/assets/styles/component/inputPicker.scss
  src/assets/styles/component/monthsView.scss
  src/assets/styles/component/timeView.scss
  src/assets/styles/component/todayBtn.scss
  src/assets/styles/component/yearsView.scss
  src/assets/styles/main.scss
  src/assets/styles/variables.scss
  vite.config.development.ts
  vite.config.ts
  yarn.lock
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

docs: add setup completion guide
  SETUP_COMPLETE.md
Due: none

docs: add detailed workflow trigger information to DEPLOYMENT.md
  DEPLOYMENT.md
Due: none

fix: restrict docs deployment to main branch only
  .github/workflows/deploy-docs.yml
  DEPLOYMENT.md
  MONOREPO.md
Due: none
