Repository mmehdinasiri/react-calendar-datetime-picker: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

.lintstagedrc:

{
    "src/**/*.ts": [
        "npm run lint:fix-ts",
        "npm run prettier"
    ],
    "src/**/*.scss": [
        "npm run lint:fix-styles",
        "npm run prettier"
    ]
}

🚀 Performance Monitoring & Optimization System
  .github/workflows/README.md
  .github/workflows/performance.yml
  package.json
  performance-report.md
  performance/README.md
  performance/docs/PERFORMANCE_RESULTS.md
  performance/docs/PERFORMANCE_REVIEW.md
  performance/results/baseline-metrics.json
  performance/results/performance-metrics.json
  performance/results/performance-report.md
  performance/results/performance-results.json
  performance/scripts/extract-performance-metrics.js
  performance/scripts/generate-performance-report.js
  performance/tests/calendar-performance.test.tsx
  src/components/CalendarGridView.tsx
  src/components/DtCalendar.tsx
  src/components/DtPicker.tsx
  src/components/MonthView.tsx
  src/components/TimeSelector.tsx
  src/components/YearView.tsx
  tests/performance/benchmark.html
  vitest.config.ts
Due: none

🐛 Fix: Resolve lint errors and update documentation paths
  .github/workflows/README.md
  performance-report.md
  performance/README.md
  performance/docs/PERFORMANCE_RESULTS.md
  performance/docs/PERFORMANCE_REVIEW.md
  performance/results/performance-metrics.json
  performance/results/performance-report.md
  performance/results/performance-results.json
  performance/scripts/generate-performance-report.js
  performance/tests/calendar-performance.test.tsx
Due: none

🐛 Fix: Workflow and script paths for performance directory reorganization
  .github/workflows/performance.yml
  performance/scripts/extract-performance-metrics.js
Due: none

🐛 Fix: Simplify performance report generation in workflow
  .github/workflows/performance.yml
  performance/scripts/generate-performance-report.js
Due: none

fix: handle missing baseline metrics gracefully in performance workflow
  .github/workflows/performance.yml
  performance/scripts/generate-performance-report.js
Due: none

feat: combine performance tables and add comparison column
  .github/workflows/performance.yml
  performance/scripts/generate-performance-report.js
Due: none

feat: enhance performance monitoring system
  .github/workflows/performance.yml
  package.json
  performance/scripts/check-bundle-size.js
  performance/scripts/generate-performance-report.js
  pnpm-lock.yaml
Due: none

fix: resolve lint issues in performance scripts
  performance/scripts/check-bundle-size.js
  performance/scripts/generate-performance-report.js
Due: none

feat: enhance performance workflow for major rewrites
  .github/workflows/performance.yml
  performance/scripts/generate-performance-report.js
Due: none

feat: implement comprehensive search functionality in docs header
  docs/app/components/ExampleRenderer.tsx
  docs/app/components/Header.tsx
  docs/app/components/Sidebar.tsx
  docs/app/data/searchData.ts
  docs/app/examples/page.tsx
  docs/app/globals.css
  pnpm-lock.yaml
Due: none

feat: add collapsible Data Types navigation in sidebar
  docs/app/components/Sidebar.tsx
  docs/app/data/searchData.ts
  docs/app/types/page.tsx
Due: none

feat: add comprehensive initValue migration examples
  docs/app/migration/page.tsx
  docs/app/page.tsx
Due: none

fix: correct sidebar navigation for examples sub-links
  docs/app/components/Sidebar.tsx
Due: none

feat: add comprehensive search coverage for all customization examples
  docs/app/data/searchData.ts
Due: none

style: format search data tags arrays consistently
  docs/app/data/searchData.ts
Due: none

feat: update homepage tagline to reflect comprehensive calendar support
  docs/app/data/searchData.ts
  docs/app/migration/page.tsx
  docs/app/page.tsx
Due: none

style: fix code formatting with prettier
  docs/app/page.tsx
Due: none

fix: improve readability of example result keys in light mode
  docs/app/api-reference/page.tsx
  docs/app/components/ExampleRenderer.tsx
  docs/app/globals.css
  docs/app/page.tsx
  docs/app/utilities/page.tsx
Due: none

docs: improve Day object explanation in types page
  .github/workflows/format.yml
  .github/workflows/lint.yml
  .github/workflows/unit.yml
  docs/app/api-reference/page.tsx
  docs/app/components/ExampleRenderer.tsx
  docs/app/page.tsx
  docs/app/types/page.tsx
  docs/app/utilities/page.tsx
Due: none

style: fix formatting issues in types page
  .github/workflows/format.yml
  .github/workflows/lint.yml
  docs/app/types/page.tsx
Due: none

refactor: remove numberSystem prop and auto-determine from locale
  docs/app/components/ExampleRenderer.tsx
  docs/app/components/Sidebar.tsx
  docs/app/customization/page.tsx
  docs/app/examples/page.tsx
  docs/app/examplesConfig.tsx
  docs/app/page.tsx
  src/components/CalendarCore.tsx
  src/components/CalendarGridView.tsx
  src/components/CalendarHeader.tsx
  src/components/DtCalendar.tsx
  src/components/DtPicker.tsx
  src/components/MonthView.tsx
  src/components/TimeSelector.tsx
  src/components/YearView.tsx
  src/hooks/useCalendarPicker.ts
  src/styles/components/_picker.scss
  src/types/calendar.ts
  src/types/index.ts
  src/utils/calendar-grid.ts
  src/utils/formatting.ts
  src/utils/index.ts
  src/utils/preset-ranges.ts
  src/utils/translations.ts
  tests/unit/components/CalendarCore.test.tsx
  tests/unit/components/CalendarGridView.test.tsx
  tests/unit/components/CalendarHeader.test.tsx
  tests/unit/components/DtPicker.test.tsx
  tests/unit/components/MonthView.test.tsx
  tests/unit/components/TimeSelector.test.tsx
  tests/unit/components/YearView.test.tsx
  tests/unit/utils/calendar-grid.test.ts
  tests/unit/utils/formatting.test.ts
  tests/unit/utils/translations.test.ts
Due: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

docs: reorganize documentation structure and add type definitions
  docs/app/api-reference/page.tsx
  docs/app/components/Sidebar.tsx
  docs/app/customization/page.tsx
  docs/app/data/apiReference.ts
  docs/app/data/searchData.ts
  docs/app/examples/page.tsx
  docs/app/examplesConfig.tsx
  docs/app/internationalization/page.tsx
  docs/app/types/page_temp.tsx
  src/types/calendar.ts
  src/utils/date-conversion.ts
  src/utils/translations.ts
Due: npm run lint:fix-ts, npm run prettier

Fix Jalali calendar translations and weekday order
  docs/app/examplesConfig.tsx
  src/components/CalendarCore.tsx
  src/components/CalendarGridView.tsx
  src/components/DtCalendar.tsx
  src/components/DtPicker.tsx
  src/hooks/useCalendarState.ts
  src/types/calendar.ts
  src/utils/calendar-grid.ts
  src/utils/normalize.ts
  src/utils/translations.ts
  tests/unit/utils/translations.test.ts
Due: npm run lint:fix-ts, npm run prettier

Fix ESLint warnings: remove unnecessary dependencies from useMemo hooks
  docs/app/data/apiReference.ts
  docs/app/examplesConfig.tsx
  docs/app/types/page_temp.tsx
  src/components/CalendarGridView.tsx
  src/hooks/useCalendarPicker.ts
Due: npm run lint:fix-ts, npm run prettier

Update examples: remove Custom Preset Ranges example and update Date Range with Custom Preset Ranges to show utility functions with comments
  docs/app/examplesConfig.tsx
  examples/src/examplesConfig.tsx
  src/components/CalendarGridView.tsx
  src/components/DtCalendar.tsx
  src/components/DtPicker.tsx
  src/components/DtPickerTrigger.tsx
  src/components/index.ts
  src/hooks/index.ts
  src/hooks/useCalendarCallbacks.ts
  src/hooks/useCalendarSetup.ts
  src/hooks/useCallbackOnChange.ts
  src/hooks/useModalState.ts
  src/utils/translations.ts
  test-results/.last-run.json
  tests/unit/components/DtPicker.test.tsx
  tests/unit/utils/translations.test.ts
Due: npm run lint:fix-ts, npm run prettier

Add comprehensive tests for hooks and fix translations tests
  tests/unit/hooks/useCalendarCallbacks.test.tsx
  tests/unit/hooks/useCalendarSetup.test.tsx
  tests/unit/hooks/useCallbackOnChange.test.tsx
  tests/unit/hooks/useModalState.test.tsx
  tests/unit/utils/translations.test.ts
Due: none

Refactor weekend/weekStart logic and update documentation
  docs-dev/WEEKEND_WEEKSTART_LOGIC.md
  docs/app/components/Sidebar.tsx
  docs/app/customization/page.tsx
  docs/app/examples/page.tsx
  docs/app/examplesConfig.tsx
  docs/app/internationalization/page.tsx
  docs/app/types/page.tsx
  eslint.config.mjs
  examples/src/examplesConfig.tsx
  examples/src/hooks/useExampleValue.ts
  src/components/CalendarGridView.tsx
  src/hooks/useCalendarSetup.ts
  src/utils/index.ts
  src/utils/translations.ts
  src/utils/weekday-utils.ts
  tests/unit/components/CalendarGridView.test.tsx
  tests/unit/hooks/useCalendarSetup.test.tsx
  tests/unit/hooks/useCallbackOnChange.test.tsx
  tests/unit/utils/translations.test.ts
Due: npm run lint:fix-ts, npm run prettier

Clarify RTL support is tied to locale, not calendar system
  docs/app/customization/page.tsx
Due: none

Update documentation and theme support
  docs/app/components/ExampleRenderer.tsx
  docs/app/components/Sidebar.tsx
  docs/app/customization/page.tsx
  docs/app/examples/page.tsx
  docs/app/page.tsx
Due: none

Update docs: add new components and update pages
  docs/app/accessibility/page.tsx
  docs/app/api-reference/page.tsx
  docs/app/components/Breadcrumb.tsx
  docs/app/components/CodeBlock.tsx
  docs/app/components/ExampleRenderer.tsx
  docs/app/components/FeatureList.tsx
  docs/app/components/Important.tsx
  docs/app/components/InfoBox.tsx
  docs/app/components/NextSteps.tsx
  docs/app/components/Note.tsx
  docs/app/components/PropsTable.tsx
  docs/app/components/SectionHeader.tsx
  docs/app/components/TypeDefinition.tsx
  docs/app/components/index.ts
  docs/app/customization/page.tsx
  docs/app/examples/page.tsx
  docs/app/getting-started/page.tsx
  docs/app/installation/page.tsx
  docs/app/internationalization/page.tsx
  docs/app/migration/page.tsx
  docs/app/types/page.tsx
  docs/app/utilities/page.tsx
Due: none

Improve sidebar search and accessibility page styling
  docs/app/accessibility/page.tsx
  docs/app/components/Sidebar.tsx
Due: none

Fix search bar navigation and category label display
  docs/app/api-reference/apiReference.ts
  docs/app/api-reference/apiReferenceContent.ts
  docs/app/components/Breadcrumb.tsx
  docs/app/components/CodeBlock.tsx
  docs/app/components/ExampleCard.tsx
  docs/app/components/FeatureList.tsx
  docs/app/components/Important.tsx
  docs/app/components/InfoBox.tsx
  docs/app/components/KeyboardShortcutsCard.tsx
  docs/app/components/NextSteps.tsx
  docs/app/components/Note.tsx
  docs/app/components/PropsTable.tsx
  docs/app/components/SectionHeader.tsx
  docs/app/components/Table.tsx
  docs/app/components/TypeDefinition.tsx
  docs/app/customization/cssVariablesTableConfig.ts
  docs/app/customization/customizationConfig.tsx
  docs/app/customization/customizationContent.ts
  docs/app/data/searchData.ts
  docs/app/examples/page.tsx
  docs/app/installation/installationContent.ts
  docs/app/internationalization/page.tsx
  docs/app/migration/migrationContent.ts
  docs/app/types/typesContent.ts
  docs/app/utilities/utilitiesContent.ts
Due: none

fix format
  docs/app/api-reference/apiReference.ts
  docs/app/api-reference/apiReferenceContent.ts
  docs/app/components/Breadcrumb.tsx
  docs/app/components/CodeBlock.tsx
  docs/app/components/ExampleCard.tsx
  docs/app/components/FeatureList.tsx
  docs/app/components/Important.tsx
  docs/app/components/InfoBox.tsx
  docs/app/components/KeyboardShortcutsCard.tsx
  docs/app/components/NextSteps.tsx
  docs/app/components/Note.tsx
  docs/app/components/PropsTable.tsx
  docs/app/components/SectionHeader.tsx
  docs/app/components/Table.tsx
  docs/app/components/TypeDefinition.tsx
  docs/app/customization/cssVariablesTableConfig.ts
  docs/app/customization/customizationConfig.tsx
  docs/app/customization/customizationContent.ts
  docs/app/installation/installationContent.ts
  docs/app/migration/migrationContent.ts
  docs/app/types/typesContent.ts
  docs/app/utilities/utilitiesContent.ts
Due: none

Adjust performance test threshold for memoized grid navigation
  performance/tests/calendar-performance.test.tsx
Due: none

Update homepage features list
  docs/app/page.tsx
Due: none

feat: add missing date utility functions and update documentation
  docs-dev/CALENDAR_STATE_MANAGEMENT.md
  docs/app/utilities/page.tsx
  docs/app/utilities/utilitiesContent.ts
  src/components/CalendarGridView.tsx
  src/components/CalendarHeader.tsx
  src/hooks/useCalendarState.ts
  src/hooks/useCalendarState/actions.ts
  src/hooks/useCalendarState/helpers/resolveDisplayMonth.ts
  src/hooks/useCalendarState/helpers/time.ts
  src/hooks/useCalendarState/index.ts
  src/hooks/useCalendarState/reducers/dateSelection.ts
  src/hooks/useCalendarState/reducers/index.ts
  src/hooks/useCalendarState/reducers/multi.ts
  src/hooks/useCalendarState/reducers/navigation.ts
  src/hooks/useCalendarState/reducers/range.ts
  src/hooks/useCalendarState/reducers/time.ts
  src/hooks/useCalendarState/reducers/week.ts
  src/hooks/useCalendarState/types.ts
  src/hooks/useKeyboardNavigation.ts
  src/types/calendar.ts
  src/types/index.ts
  src/utils/date-comparison.ts
  src/utils/date-conversion.ts
  src/utils/index.ts
  src/utils/validation.ts
  tests/unit/hooks/useKeyboardNavigation.test.tsx
  tests/unit/utils/date-conversion.test.ts
Due: npm run lint:fix-ts, npm run prettier

chore: update docs page
  docs/app/page.tsx
Due: none

Fix TypeScript errors and add isLeapYear function
  docs-dev/CALENDAR_STATE_MANAGEMENT.md
  src/hooks/useCalendarState/index.ts
  src/hooks/useCalendarState/reducers/range.ts
  src/hooks/useCalendarState/reducers/time.ts
  src/hooks/useKeyboardNavigation.ts
  src/types/index.ts
  src/utils/date-comparison.ts
  src/utils/index.ts
  src/utils/preset-ranges.ts
  src/utils/validation.ts
  tests/unit/utils/calendar-selection.test.ts
Due: npm run lint:fix-ts, npm run prettier
