Repository mmehdinasiri/react-calendar-datetime-picker: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:fix-ts, npm run prettier, npm run lint:fix-styles

.lintstagedrc:

{
    "src/**/*.ts": [
        "npm run lint:fix-ts",
        "npm run prettier"
    ],
    "src/**/*.scss": [
        "npm run lint:fix-styles",
        "npm run prettier"
    ]
}

feat: add custom month and weekday names support via customization prop
  examples/src/examplesConfig.tsx
  src/Components/CalendarCore.tsx
  src/Components/CalendarGridView.tsx
  src/Components/CalendarHeader.tsx
  src/Components/DtCalendar.tsx
  src/Components/DtPicker.tsx
  src/Components/MonthView.tsx
  src/types/calendar.ts
  src/utils/calendar-grid.ts
Due: npm run lint:fix-ts, npm run prettier

Add interactive date utility examples connected to calendar selection
  examples/src/components/ExampleRenderer.tsx
  examples/src/components/ResultDisplay.tsx
  examples/src/components/UtilityExamplesDisplay.tsx
  examples/src/examplesConfig.tsx
  src/index.ts
  src/utils/calendar-grid.ts
  src/utils/date-comparison.ts
  src/utils/index.ts
Due: npm run lint:fix-ts, npm run prettier

fix code format
  src/utils/date-comparison.ts
Due: npm run lint:fix-ts, npm run prettier

Add new documentation site with dark theme and comprehensive pages
  docs/app/accessibility/page.tsx
  docs/app/api-reference/page.tsx
  docs/app/components/ExampleRenderer.tsx
  docs/app/components/Header.tsx
  docs/app/components/Sidebar.tsx
  docs/app/customization/page.tsx
  docs/app/examples/page.tsx
  docs/app/examplesConfig.tsx
  docs/app/getting-started/page.tsx
  docs/app/globals.css
  docs/app/installation/page.tsx
  docs/app/layout.tsx
  docs/app/migration/page.tsx
  docs/app/page.tsx
  docs/app/types/page.tsx
  docs/app/utilities/page.tsx
  docs/styles/main.scss
  docs/tailwindcss-config.js
Due: none

docs: refactor sidebar navigation and remove active state logic
  docs/app/components/ExampleRenderer.tsx
  docs/app/components/Header.tsx
  docs/app/components/Sidebar.tsx
  docs/app/contexts/ThemeContext.tsx
  docs/app/customization/page.tsx
  docs/app/data/cssVariables.ts
  docs/app/examples/page.tsx
  docs/app/globals.css
  docs/app/layout.tsx
  docs/app/page.tsx
  docs/public/favicon/site.webmanifest
  docs/tailwindcss-config.js
Due: none

Extract time examples to separate group, update root page with calendar support info, and format result section with syntax highlighting
  docs/app/accessibility/page.tsx
  docs/app/api-reference/page.tsx
  docs/app/components/ExampleRenderer.tsx
  docs/app/components/Header.tsx
  docs/app/components/LayoutWrapper.tsx
  docs/app/components/Sidebar.tsx
  docs/app/customization/page.tsx
  docs/app/data/apiReference.ts
  docs/app/examplesConfig.tsx
  docs/app/globals.css
  docs/app/layout.tsx
  docs/app/page.tsx
  docs/app/types/page.tsx
  docs/app/utilities/page.tsx
  docs/legacy/Component/Layout/Header.tsx
  docs/public/next-logo.png
Due: none

Add customCode support for examples, remove code sections from Custom Icons and Labels, and remove Custom Circle Icons example
  docs/app/components/ExampleRenderer.tsx
  docs/app/customization/page.tsx
  docs/app/examplesConfig.tsx
Due: none

Improve utilities page clarity: show actual date values and function calls for all utility functions
  docs/app/accessibility/page.tsx
  docs/app/components/Sidebar.tsx
  docs/app/page.tsx
  docs/app/utilities/page.tsx
Due: none

fix: add page loader and fix calendar styles loading
  docs/app/layout.tsx
  docs/package.json
  package.json
Due: none

refactor: improve TypeScript types and fix Sass deprecation warnings
  docs/app/components/PageLoader.tsx
  docs/app/customization/page.tsx
  docs/app/page.tsx
  docs/app/utilities/page.tsx
  docs/styles/base.scss
  docs/styles/main.scss
  src/Components/DtCalendar.tsx
  src/Components/DtPicker.tsx
  src/hooks/useCalendarPicker.ts
  src/hooks/useCalendarState.ts
  src/types/calendar.ts
  src/types/index.ts
Due: npm run lint:fix-ts, npm run prettier

feat: Add dark prop to DtPicker and fix theme management
  clean-rebuild.sh
  docs/app/components/ExampleRenderer.tsx
  docs/app/globals.css
  docs/app/legacy/layout.tsx
  docs/app/page.tsx
  package.json
  src/Components/DtPicker.tsx
  src/styles/components/_picker.scss
  src/styles/variables.scss
Due: npm run prettier, npm run lint:fix-styles

Improve docs light theme contrast and styling
  docs/app/components/Header.tsx
  docs/app/components/Sidebar.tsx
  docs/app/globals.css
Due: none

Update example title to reflect custom preset labels feature
  docs/app/examplesConfig.tsx
  examples/src/examplesConfig.tsx
Due: none

Add testing infrastructure: Vitest unit tests, Playwright E2E tests, and CI workflow
  .github/BRANCH_PROTECTION.md
  .github/workflows/README.md
  .github/workflows/ci.yml
  .gitignore
  package.json
  playwright.config.ts
  test-results/.last-run.json
  tests/E2E_SETUP.md
  tests/README.md
  tests/SETUP_STATUS.md
  tests/e2e/example.spec.ts
  tests/unit/example.test.ts
  vitest.config.ts
Due: none

Add yearListStyle prop support and unit tests for YearView
  docs/app/data/apiReference.ts
  examples/src/examplesConfig.tsx
  src/Components/DtCalendar.tsx
  src/Components/DtPicker.tsx
  src/types/calendar.ts
  tests/unit/components/YearView.test.tsx
Due: npm run lint:fix-ts, npm run prettier

Add comprehensive unit tests for calendar components
  tests/unit/components/CalendarCore.test.tsx
  tests/unit/components/CalendarHeader.test.tsx
  tests/unit/components/MonthView.test.tsx
  tests/unit/components/TimeSelector.test.tsx
Due: none

Add unit tests for CalendarGridView, DtCalendar, and DtPicker
  src/Components/CalendarGridView.tsx
  tests/unit/components/CalendarCore.test.tsx
  tests/unit/components/CalendarGridView.test.tsx
  tests/unit/components/DtCalendar.test.tsx
  tests/unit/components/DtPicker.test.tsx
Due: none

Add comprehensive unit tests for utility functions with fa and en locale coverage
  src/utils/constraints.ts
  src/utils/date-comparison.ts
  src/utils/formatting.ts
  src/utils/normalize.ts
  src/utils/preset-ranges.ts
  src/utils/validation.ts
  tests/unit/utils/calendar-grid.test.ts
  tests/unit/utils/calendar-selection.test.ts
  tests/unit/utils/constraints.test.ts
  tests/unit/utils/date-comparison.test.ts
  tests/unit/utils/date-conversion.test.ts
  tests/unit/utils/formatting.test.ts
  tests/unit/utils/preset-ranges.test.ts
  tests/unit/utils/validation.test.ts
Due: npm run lint:fix-ts, npm run prettier

Add unit tests for all hooks in src/hooks
  tests/unit/hooks/useCalendarPicker.test.tsx
  tests/unit/hooks/useCalendarState.test.tsx
  tests/unit/hooks/useClickOutside.test.tsx
  tests/unit/hooks/useEscapeKey.test.tsx
  tests/unit/hooks/useFocusManagement.test.tsx
  tests/unit/hooks/useFocusTrap.test.tsx
  tests/unit/hooks/useKeyboardNavigation.test.tsx
  tests/unit/hooks/useModalPosition.test.tsx
Due: none

Add test for useCalendarPicker with time integration
  tests/unit/hooks/useCalendarPicker.test.tsx
Due: none

Add fa locale tests to useCalendarState and improve test formatting
  tests/unit/hooks/useCalendarPicker.test.tsx
  tests/unit/hooks/useCalendarState.test.tsx
Due: none

Add note about month indexing to getting started docs
  docs/app/getting-started/page.tsx
Due: none

Fix TypeScript errors in tests and utility functions
  src/utils/date-comparison.ts
  tests/unit/hooks/useCalendarState.test.tsx
  tests/unit/hooks/useClickOutside.test.tsx
  tests/unit/hooks/useFocusTrap.test.tsx
  tests/unit/hooks/useKeyboardNavigation.test.tsx
  tests/unit/utils/calendar-selection.test.ts
Due: npm run lint:fix-ts, npm run prettier

Fix unused variable errors in build
  docs/app/getting-started/page.tsx
  src/utils/date-comparison.ts
  tests/unit/hooks/useClickOutside.test.tsx
  tests/unit/hooks/useFocusTrap.test.tsx
Due: npm run lint:fix-ts, npm run prettier

Fix CI: Remove pnpm-lock.yaml from .gitignore and add it to repo
  .gitignore
  pnpm-lock.yaml
Due: none

fix: rename src/Components to src/components to fix CI case sensitivity issues
  src/components/CalendarCore.tsx
  src/components/CalendarGridView.tsx
  src/components/CalendarHeader.tsx
  src/components/DtCalendar.tsx
  src/components/DtPicker.tsx
  src/components/MonthView.tsx
  src/components/TimeSelector.tsx
  src/components/YearView.tsx
  src/components/index.ts
Due: npm run lint:fix-ts, npm run prettier

fix: update eslint configuration for v9
  eslint.config.js
  package.json
Due: none

ci: separate unit/lint and e2e tests into different workflows
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Due: none

ci: add vitest coverage report comment to PRs
  .github/workflows/ci.yml
  vitest.config.ts
Due: none

fix: add missing eslint deps and rename config to .mjs for CI
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
Due: none

fix: ignore docs/.next build artifacts in eslint config
  eslint.config.mjs
Due: none

chore: refine hooks, lint rules, and modal positioning
  eslint.config.mjs
  examples/src/examplesConfig.tsx
  examples/src/hooks/useExampleValue.ts
  examples/src/hooks/useParsedProps.ts
  examples/src/utils/propsFormatting.ts
  src/components/CalendarGridView.tsx
  src/hooks/useCalendarState.ts
  src/hooks/useFocusManagement.ts
  src/hooks/useKeyboardNavigation.ts
  src/hooks/useModalPosition.ts
  src/utils/normalize.ts
Due: npm run lint:fix-ts, npm run prettier

ci: rename ci workflow to unit.yml
  .github/workflows/unit.yml
Due: none

update nextjs
  docs/package.json
  pnpm-lock.yaml
Due: none

Remove onTimeChange callback and update onDateSelect example to range
  docs/app/components/ExampleRenderer.tsx
  docs/app/data/apiReference.ts
  docs/app/examplesConfig.tsx
  src/components/DtCalendar.tsx
  src/components/DtPicker.tsx
  src/hooks/useCalendarPicker.ts
  src/types/calendar.ts
  src/utils/normalize.ts
  tests/unit/components/DtCalendar.test.tsx
  tests/unit/components/DtPicker.test.tsx
  tests/unit/hooks/useCalendarPicker.test.tsx
  tests/unit/utils/normalize.test.ts
Due: npm run lint:fix-ts, npm run prettier

feat: Add custom triggerElement support to DtPicker
  docs/app/components/ExampleRenderer.tsx
  docs/app/components/Sidebar.tsx
  docs/app/customization/page.tsx
  docs/package.json
  examples/custom-triggers-example.tsx
  pnpm-lock.yaml
  src/components/DtPicker.tsx
  src/hooks/useModalPosition.ts
  tests/unit/components/DtPicker.test.tsx
Due: npm run lint:fix-ts, npm run prettier

Add separators to CSS variables table and remove unused color variables
  docs/app/customization/page.tsx
  docs/app/data/cssVariables.ts
  src/styles/variables.scss
Due: npm run prettier, npm run lint:fix-styles

Add CSS variables for header and footer text font sizes, remove unused shadow variables
  docs/app/components/Sidebar.tsx
  docs/app/customization/page.tsx
  docs/app/data/cssVariables.ts
  docs/app/globals.css
  src/styles/components/_calendar-core.scss
  src/styles/components/_calendar-grid.scss
  src/styles/components/_footer.scss
  src/styles/components/_header.scss
  src/styles/components/_month-view.scss
  src/styles/components/_picker.scss
  src/styles/components/_year-view.scss
  src/styles/variables.scss
Due: npm run prettier, npm run lint:fix-styles

Reorganize API Reference: separate shared props from component-specific props
  docs/app/api-reference/page.tsx
  docs/app/data/apiReference.ts
  examples/custom-triggers-example.tsx
  src/hooks/useCalendarPicker.ts
  src/utils/normalize.ts
  tests/unit/utils/normalize.test.ts
Due: npm run lint:fix-ts, npm run prettier
